Repository Miriam-code/E-commerce, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, readme, docs, frontend, backend, docker, env

feat(1): add test:lint
  backend/package.json
Labels: package, backend

feat(2): add workflow
  .github/workflows/deploy.yml
  .github/workflows/integration-and-build.yml
Labels: github

fix(2): command docker
  .github/workflows/integration-and-build.yml
Labels: github

fix(3): port docker
  docker-compose.yml
Labels: none

fix(3): port db test
  backend/.env.test
  backend/config/config.json
Labels: backend, env

fix(3): test workflow
  .github/workflows/integration-and-build.yml
Labels: github

fix(4): deploy on railway
  .github/workflows/deploy.yml
Labels: github

fix(5): connect railway
  .github/workflows/deploy.yml
Labels: github

fix(6): connect railway
  .github/workflows/deploy.yml
Labels: github

fix(7): deploy docker
  .github/workflows/integration-and-build.yml
Labels: github

fix(8): deploy docker
  .github/workflows/integration-and-build.yml
Labels: github

fix(8): deploy railway
  .github/workflows/deploy.yml
Labels: github

fix(9): dockerfile front railway
  frontend/Dockerfile
Labels: frontend, docker

fix(10): dockerfile frontend
  frontend/Dockerfile
Labels: frontend, docker

fix(11): dockerfile frontend
  frontend/Dockerfile
Labels: frontend, docker

fix(12): dockerfile frontend
  frontend/Dockerfile
  frontend/Dockerfile.prod
Labels: frontend, docker

doc(13): CI-CD
  frontend/README.md
Labels: frontend

Create README.md
  README.md
Labels: readme

Update README.md
  README.md
Labels: readme

Update README.md
  README.md
Labels: readme

.github/labeler.yml:

package: 
  - "package.json"
  - "package-lock.json"
  - "frontend/package.json"
  - "frontend/package-lock.json"
  - "backend/package.json"
  - "backend/package-lock.json"

github:
  - ".github/**/*"

readme:
  - "README.md"

docs:
  - "docs/**/*"

frontend:
  - "frontend/**/*"

backend:
  - "backend/**/*"

docker:
  - "**/Dockerfile"
  - "**/Dockerfile.prod"
  - "compose-dev.yaml"

env:
  - "**/.env"
  - "**/.env.*"
